{
    "rules": {},
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 8,
        "sourceType": "module",
        "requireConfigFile": false
    },
    "extends": ["eslint:recommended"],
    "env": {
        "browser": true
    }
}
