# Files and directories with the attribute export-ignore won’t be added to
# archive files. See http://git-scm.com/docs/gitattributes for details.

# Github
/.github/       export-ignore
/.gitattributes export-ignore
/.gitignore     export-ignore

# Development
scripts/        export-ignore
src/            export-ignore
.eslintrc       export-ignore
*.config.js     export-ignore
packages.json   export-ignore
tsconfig.json   export-ignore

# Preview
assets/         export-ignore
examples/       export-ignore
